.tasklists{
	position: relative;
}
.add {
	text-align: center;
	font-size: 20px;
	position: absolute;
	width: 270px;
	border-radius: 5px 5px 10px 10px;
	background-color: white;
	top: 0;
	margin-left: 15px;
}

.tasklist {
	width: 270px;
	height: 500px;
	margin-left: 15px;
	background-color: white;
	overflow-y: auto;
	overflow-x: hidden;
	border-radius: 5px 5px 10px 10px;
	box-shadow: 2px 2px 2px grey;
	scroll-behavior: smooth;
	display: flex;
	flex-direction: column;
	margin-top: 38px;
	margin-bottom: 5px;
}

.tasktitle{
	text-align: center;
	font-size: 20px;
	position: absolute;
	width: 270px;
	border-radius: 5px 5px 10px 10px;
	background-color: white;
	top: 0;
}

.task{
	transition: background-color 0.2s;
	padding: 2px;
	position: relative;
}

.task:hover {
	background-color: rgb(220,220,220);
}

.task:hover #descricao{
	box-shadow: -2px 3px 2px grey;
	background-color: rgb(200,200,200);
	height: 110px;
}

.task:hover .taskname{
	font-size: 17px;
}
.taskname{
	font-size: 16px;
	font-family: 'Merriweather', se rif;
	cursor: pointer;
  	transition: font-size 0.4s;

}

.taskname:hover{
	color: blue;
}

.icon-trash-can:hover{
	font-size: 18px;
	color: red;
	cursor: pointer;
}

.add:hover{
	cursor: pointer;
	box-shadow: 2px 2px 1px black;
}

#taskname{
	padding-bottom: 10px;
	padding-top: 1px;

}

#descricao {
	transition: height 0.5s ease, background-color 0.2s ;  
	background-color: rgb(215,215,215);
	height: 100px;
	width: auto;
	margin: 0px;
}

.about{
	position: fixed;
	right: 0px;
	bottom: 0px;
	height: 35px;
	width: 300px;
	background-color: #000000ad;
	border-radius: 25px 0px 0px 0px;
	}
	
.text-about{
	font-family: Arial;
	font-weight: bolder;
	font-size: 18px;
	color:white;
	text-decoration: none;
	margin-top: -10px;
}
#text-about{
	justify-content: space-around;
	display: flex;
	white-space: pre-line;
	margin-left: 15px;
}